/*цвет основного текста #212121*/
/*цвет вторичного текста #757575;*/
/* цвет кнопок акцент #2196F3*/
/* цвет белый, герой, кнопки #FFFFFF*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-site-color: #E5E5E5;
    --background-heder-color: #FFFFFF;
    --footer-color: #2F303A;
    --background-section-color: #F5F4FA;
    --color-contacts-address: rgba(255, 255, 255, 0.6);
    --color-logo-Studio: #000000;
    --hover-hero-button-color: #188CE8;
    --portfolio-card-title-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --items: 4;
    --indent: 30px;
    --hero-color: #C4C4C4;
    --background-label-color: rgba(47, 48, 58, 0.8);

    --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}